@model IEnumerable<Category>

 <ul class="list-group">
    <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Product" asp-action="Index2">All Product</a>
    </li>
    @foreach (Category category in Model)
   {
       <li class="list-group-item">
        <a class="nav-link text-dark" asp-controller="Product" asp-action="ProductByCategory" asp-route-categorySlug="@category.Slug">@category.Name</a>
       </li>
   }
 </ul>