@model UpdateCategoryDTO
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Update Category</h5>
            </div>
            <form asp-action="Edit">
                <div class="card-body">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        @*<span asp-validation-summary="ModelOnly" class="text-danger"></span>*@
                        <label asp-for="Name">Title</label>
                        <input asp-for="Name" class="form-control" placeholder="Category Name" value="@Model.Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="card-footer">
                        <div class="form-group">
                            <input type="submit" value="Update Category" class="btn btn-outline-success btn-sm float-right" />
                            <a asp-action="List" class="btn btn-outline-info btn-sm float-left">Back to List</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>