@model CreateProductDTO

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Create Product</h5>
            </div>
            @*    enctype="multipart/form-data" form üzerinden bir file input alınabilmesi için kullanmamız gereken tag'dir*@
            <form asp-action="Create" enctype="multipart/form-data">
                <div class="card-body">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Product Name" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="Description">Description</label>
                        <input asp-for="Description" class="form-control" placeholder="Product Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="UnitPrice">Unit Price</label>
                        <input asp-for="UnitPrice" class="form-control" placeholder="Product Unit Price" />
                        <span asp-validation-for="UnitPrice" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Choose the category</label>
                        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-control">
                            <option value="0">Choose Category</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                        <label asp-for="UploadImage" class="control-label">Choose The Image</label>
                        <input asp-for="UploadImage"  class="form-control"/>
                        <span asp-validation-for="UploadImage" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group">
                        <input type="submit" value="Create Product" class="btn btn-outline-success btn-sm float-right" />
                        <a asp-action="List" class="btn btn-outline-info btn-sm float-left">Back To List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>